#Folders
build/*
!build/res
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Text files
*.txt
!CMakeLists.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!build/glfw3.dll
!build/libassimp-5.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
